*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
    background-color: rgb(246, 166, 16);
}

.header h1{
    color: #fafafa;
}

img{
    width: 60px;
    height: 60px;
}